.blog-masthead
  .container
    %nav.nav
      = link_to "Home",root_path, class: "nav-link active"
      = link_to "Categories", categories_path, class: "nav-link"
      = link_to "Posts", posts_path, class: "nav-link"
.blog-header
  .container
    %h1.blog-title The Bootstrap Blog
    %p.lead.blog-description An example blog template built with Bootstrap.